<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>{{status}}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}"
          rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static', filename='css/util.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

<div class="limiter">
    <div class="container-login100"
         style="background-image: url('{{ url_for('static', filename='images/bg-01.jpg') }}');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <span class="login100-form-title p-b-49">{{status}}</span>
            <div>
                <pre>{{info}}</pre>
                <br>
            </div>
            <br><br>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" onclick="javascript:window.history.back(-1)">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>